<div class="dialog dialog--signin" style="display:none">
  <div class="dialog__content">
    <div class="dialog--signin__bg">
      <div class="dialog--signin__side">
{#        <h1>{{ _('Don\'t have an account?') }}</h1>#}
{#        <p>{{ _('By signing up a Vijos universal account, you can submit code and join discussions in all online judging services provided by us.') }}</p>#}
{#        <div><a href="{{ reverse_url('user_register') }}" class="inverse rounded button">{{ _('Sign Up Now') }}</a></div>#}
        <h1>非本校学生？</h1>
        <p>你还可以使用普通方式注册与登录。</p>
        <div><a href="{{ reverse_url('user_login') }}" class="inverse rounded button">{{ _('Sign In') }}</a></div>
      </div>
    </div>
    <div class="dialog--signin__main">
{#      <form action="{{ reverse_url('user_login') }}" method="post">#}
        <div class="dialog--signin__close-container supplementary">
          <a name="dialog--signin__close" href="javascript:;">{{ _('CLOSE') }}</a>
        </div>
        <h1 class="dialog--signin__title">使用统一认证</h1>
        <div class="row"><div class="columns"><br /></div></div>
        <div class="row"><div class="columns"><br /></div></div>
        <div class="row"><div class="columns">
          <p class="supplementary">通过瓯江学院统一认证，你可以快速登陆，学院内别的应用也可以通过统一认证实现互联。</p>
        </div></div>
        <div class="row"><div class="columns"><br /></div></div>
        <div class="row"><div class="columns"><br /></div></div>
          <a href="{{ reverse_url('ojc_connect_uniauth') }}" class="expanded rounded primary button">统一认证登录</a>
        </div></div>
{#        <h1 class="dialog--signin__title">{{ _('SIGN IN') }}</h1>#}
{#        <p class="dialog--signin__note">{{ _('Using your Vijos universal account') }}</p>#}
{#        <div class="row"><div class="columns">#}
{#          <label class="material textbox">#}
{#            {{ _('Username') }}#}
{#            <input name="uname" type="text" data-autofocus>#}
{#          </label>#}
{#        </div></div>#}
{#        <div class="row"><div class="columns">#}
{#          <label class="material textbox">#}
{#            {{ _('Password') }}#}
{#            <input name="password" type="password">#}
{#          </label>#}
{#        </div></div>#}
{#        <div class="row"><div class="columns">#}
{#          <label class="checkbox">#}
{#            <input type="checkbox" name="rememberme">{{ _('Remember me') }}#}
{#          </label>#}
{#        </div></div>#}
{#        <div class="row"><div class="columns">#}
{#          <input type="submit" value="{{ _('Sign In') }}" class="expanded rounded primary button">#}
{#        </div></div>#}
{#        <div class="row"><div class="columns">#}
{#          <div class="supplementary text-center">#}
{#            <a href="{{ reverse_url('user_lostpass') }}">{{ _('Forgot password or username?') }}</a>#}
{#          </div>#}
{#        </div></div>#}
{#      </form>#}
    </div>
  </div>
</div>
